.category_container {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.category {
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  transition: 0.4s;  
}

.nowCategory {
  background: #E4FC28;
  color: #1c1c1c;
}

.notNowCategory {
  color: #888;
}

.undergraduate_container_origin {
  display: flex;
  gap: 60px;
}

.undergraduate_title_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 880px;
  margin-bottom: 60px;
}

.undergraduate_title_kr {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.undergraduate_title_en {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.undergraduate_container {
  display: flex;
  gap: 20px;
}

.undergraduate_container2 {
  display: flex;
  gap: 20px;
}

.undergraduate_content_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.undergraduate_content_container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.undergraduate_content_subject_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.undergraduate_content_subject_container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.undergraduate_content_subject {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 130px;
  height: 100px;
  border: 0.6px solid #888;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
  white-space: pre-line;
}

.undergraduate_content_subject2 {
  font-size: 20px;
  font-weight: 500;
  width: 430px;
  height: 100px;
  border: 0.6px solid #888;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  white-space: pre-line;
  padding-left: 20px;
}

.undergraduate_content_year {
  font-size: 20px;
  font-weight: 400;
}

.undergraduate_content_year2 {
  font-size: 20px;
  font-weight: 400;
}

.undergraduate_content_subject:hover {
  color: #E4FC28;
  border: 0.6px solid #E4FC28;
  transition: 0.4s;
}

.nowSubject {
  background: #E4FC28;
  color: #000 !important;
  transition: 0.4s;
}

.undergraduate_content_subject_kr {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.undergraduate_content_subject_en {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.undergraduate_content_description_kr {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.undergraduate_content_description_en {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.curriculum_container {
  margin-top: 60px;
}

.undergraduate_popup_container {
  display: none;
}

.undergraduate_popup_background {
  display: none;
}

@media (max-width: 450px) {

  .curriculum_container {
    margin-top: 30px;
  }

  .category_container {
    margin-bottom: 30px;
    gap: 30px;
  }

  .category {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }

  .undergraduate_container_origin {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .undergraduate_title_container {
    gap: 10px;
    margin-bottom: 30px;
  }

  .undergraduate_title_kr {
    font-size: 16px;
    line-height: 24px;
  }

  .undergraduate_title_en {
    font-size: 16px;
    line-height: 22px;
  }

  .undergraduate_non_popup_container {
    display: none;   
  }

  .undergraduate_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .undergraduate_container2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .undergraduate_content_container {
    gap: 10px;
  }

  .undergraduate_content_subject_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .undergraduate_content_subject_container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .undergraduate_content_subject {
    font-size: 16px;
    width: 100%;
    height: 70px;
    overflow: hidden;
  }

  .undergraduate_content_subject2 {
    font-size: 16px;
    width: 100%;
    height: 51px;
    overflow: hidden;
    white-space: normal;
  }

  .undergraduate_content_year {
    font-size: 16px;
  }

  .undergraduate_popup_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.6px solid #888;
    background: #1C1C1C;
    width: calc(100% - 48px);
    padding: 20px;
    z-index: 100;
  }

  .undergraduate_content_subject_kr {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .undergraduate_content_subject_en {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .undergraduate_content_description_kr {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .undergraduate_content_description_en {
    font-size: 16px;
    line-height: 22px;
  }

}