html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

.color000 {
  color: #000;
}

.color888 {
  color: #888;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.header {
  background: rgba(28, 28, 28, 0.80);
  backdrop-filter: blur(50px);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90;
}

.header_container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.logo_size {
  width: 80px;
  height: 80px;
}

.header_nav {
  display: flex;
  gap: 150px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.footer {
  background: #000;
  width: 100%;
}

.footer_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-contact {
  display: flex;
  gap: 10px;
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
}

.footer-copyright {
  color: #888;
  font-size: 15px;
  font-weight: 400;
}

#ABOUT,
#TEAM,
#OPPORTUNITY,
#NEWS {
  scroll-margin-top: 250px;
}

.header_nav .active {
  color: #fff;
  font-weight: 600;
}

.header_nav div {
  color: #555;
  transition: all 0.5s ease;
}

.header_nav_mobile {
  display: none;
}

.mobile_header {
  display: none;
}

@media screen and (max-width: 1500px) {

  .header_container {
    max-width: 1320px;
    padding: 30px 60px;
  }

  .logo_size {
    width: 74px;
    height: 74px;
  }

  .header_nav {
    gap: 120px;
    font-size: 18px;
  }

  .footer_container {
    max-width: 1320px;
    padding: 40px 60px;
  }

}

@media screen and (max-width: 1200px) {

  .header_container {
    max-width: 1020px;
    padding: 30px 60px;
  }

  .logo_size {
    width: 70px;
    height: 70px;
  }

  .header_nav {
    gap: 70px;
    font-size: 16px;
  }

  .footer_container {
    max-width: 1020px;
    padding: 40px 60px;
    gap: 60px;
  }

  .footer-contact, .footer-copyright {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
    font-family: "Pretendard", sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }

  .logo_size {
    width: 60px;
    height: 60px;
  }

  .header {
    position: fixed;
  }

  .header_nav {
    display: none;
  }

  .header_container {
    padding: 24px;
    max-width: 600px;
  }

  .header_nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background: #1c1c1c;
    border-left: 0.6px solid #888;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 110;
    will-change: transform;
  }

  .mobile_header.open {
    transform: translateX(0);
  }

  .mobile_header_nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
  }

  .close_btn {
    cursor: pointer;
    width: fit-content;
  }

  .hamburger_close_btn {
    position: fixed;
    top: 46px;
    right: 24px;
  }

  .mobile_header_nav_items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile_header_item {
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
  }

  .mobile_header .active {
    color: #fff;
    font-weight: 600;
  }

  .mobile_header_nav div {
    color: #888;
    transition: all 0.5s ease;
  }

  .footer_container {
    flex-direction: column;
    padding: 30px 24px;
    margin: 0 auto;
    max-width: 600px;
    gap: 10px;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
  }

  .divider {
    display: none;
  }

  .footer-copyright {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }

  .mobile_hamburger_background {
    background: rgba(28, 28, 28, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateZ(0);
  }
}